<div class="about-container">
  <h2>À propos de nous</h2>
  <div class="about-wrapper">
    <img
      src="https://plus.unsplash.com/premium_photo-1682129249054-b0aeef5ae1fe?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Propriétaires de la Belle Presserie"
    />
    <div class="about-mask">
      <div>
        <p>Nous sommes <span>Bernard</span> et <span>Letitia</span></p>
        <p>
          Nous sommes passionnés par notre méteier et nous accordons une grande
          importance à la qualité de nos service
        </p>
        <p>Découvrez notre histoire</p>
        <a routerLink="a-propos" class="button button-secondary"
          >En savoir plus</a
        >
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <p>Avez-vouse des question à nous poser?</p>
    <a routerLink="contact" class="button">Contactez-nous</a>
  </div>
</div>
