<img
  class="header"
  src="https://plus.unsplash.com/premium_photo-1682129249054-b0aeef5ae1fe?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  alt="Bernard et Letitia"
/>
<div class="presentation-wrapper">
  <h2>Qui sommes-nous</h2>
  <p>
    <span>Bernard</span> et <span>Letitia</span>, unis par la passion du métier
    et l'amour des belles choses, ont donné naissance à La Belle Presserie il y
    a cinq ans. Ce qui était à l'origine un petit atelier artisanal s'est mué en
    une entreprise florissante, portée par l'enthousiasme de ses créateurs et la
    confiance de ses clients.
  </p>
  <p>
    Depuis nos débuts, nous avons à cœur de proposer des services de qualité
    supérieure, réalisés avec des matériaux nobles et respectueux de
    l'environnement. Chaque pièce qui sort de notre atelier est unique, le fruit
    d'un savoir-faire transmis de génération en génération.
  </p>
  <p>
    Notre engagement en faveur du développement durable se concrétise par de
    nombreuses actions : tri sélectif rigoureux, utilisation de produits
    d'entretien écologiques, valorisation des déchets... Nous sommes convaincus
    qu'il est possible de concilier activité économique et respect de la
    planète.
  </p>
</div>
<div class="find-us-container">
  <h2>Où nous trouver</h2>
  <div class="find-us-wrapper">
    <img
      src="https://images.unsplash.com/photo-1604335398549-1b80aadd00a8?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="La Belle Presserie"
    />
    <div class="find-us-mask">
      <div>
        <p>76 rue de la Presserie, 69003 Lyon</p>
        <p><span>Téléphone : </span>+33 1 42 33 24 15</p>
        <p><span>Email : </span>contact&#64;bellepresserie.fr</p>
        <div class="time-wrapper">
          <p><span>Lundi : </span>9:00 - 20:00</p>
          <p><span>Mardi : </span>9:00 - 20:00</p>
          <p><span>Mercredi : </span>9:00 - 20:00</p>
          <p><span>Jeudi : </span>9:00 - 20:00</p>
          <p><span>Vendredi : </span>9:00 - 20:00</p>
          <p><span>Samedi : </span>9:00 - 20:00</p>
          <p><span>Dimache : </span>Fermé</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="button-wrapper">
  <p>Avez-vouse des question à nous poser?</p>
  <a routerLink="contact" class="button">Contactez-nous</a>
</div>
