<div class="service-container">
  <h2>À propos de nous</h2>
  <div class="service-wrapper">
    <img
      src="https://images.unsplash.com/photo-1549037173-e3b717902c57?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Propriétaires de la Belle Presserie"
    />
    <div class="service-mask">
      <div>
        <p>
          La <span>Belle Presserie</span> propose une large gamme de service
        </p>
        <p>
          <span>Nettoyage à sec</span> et le <span>repassage</span> de tous
          types de tissus, inclus le délicates
        </p>
        <p>
          <span>Traitement anti-taches</span> pour protéger les vêtements contre
          les taches futures
        </p>
        <p>Et pas seulement!</p>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <p>Bènèficiez de nos services</p>
    <a routerLink="services" class="button">Commande</a>
  </div>
</div>
